/*.head{
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 35px;
}*/
/*.name
{
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 50px;
} */